@font-face{
	font-family: 'Pixel-Millennium';
	src: url('../fonts/Pixel-Millennium.ttf');
}
/* RESET	style */
body{
	height: 100vh;
  background: #F3904F; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #F3904F , #3B4371); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #F3904F , #3B4371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
a{
  transition: all 0.3s ease-in-out;
}
ol, ul, li{
	list-style: none;
}
/* GLOBAL	style */
.full-height{
  height: 100vh;
}
.relative{
  position: relative;
}
.x-center{
  position: relative;;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
.abs-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  height: auto;
}
.text-color-black{
  color: #000;
}
.text-color-white{
  color: #fff;
}
.text-color-ccc{
  color: #ccc;
}
.text-hover-color-white:hover{
	color: #fff;
}
.pixel-font{
	font-family: "Pixel-Millennium";
}
/* INDEX STYLE */
 .logo-text{
  margin-top: 10px;
}
#index-nav a:hover{
  text-decoration: none;
}
#index-nav{
  margin-top: 5px;
}
#index-nav li{
  display: inline-block;
  margin: 0 12px;
  list-style: none;
}
.icon{
  font-size: 25px;
}
.title{
  font-size: 12px;
}
/* BLOG STYLE */
#blog-nav{
	margin-top: 20px;
}
#blog{
	min-height: 90vh;
}
#blog .breadcrumb{
	margin-top: 10px;
}
#blog .info span{
	padding: 0 10px;
}
#blog .summary{
	margin: 20px 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}
#blog p{
	font-size: 16px;
}
#blog p img{
	position: relative;;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
.blog-pager .pagination{
	margin: 10px 0;
}
.loading{
	margin: 20px 0;
	font-size: 18px;
}
