@font-face{
	font-family: 'Pixel-Millennium';
	src: url('../fonts/Pixel-Millennium.ttf');
}
/* RESET	style */
body{
	height: 100vh;
  background: #F3904F;
  background: -webkit-linear-gradient(to left, #F3904F , #3B4371);
  background: linear-gradient(to left, #F3904F , #3B4371);
	font-family: "Helvetica Neue",Helvetica,"Microsoft Yahei",Arial,sans-serif
}
a{
  transition: all 0.3s ease-in-out;
}
ol, ul, li{
	list-style: none;
}
/* GLOBAL	style */
.full-height{
  height: 100vh;
}
.relative{
  position: relative;
}
.x-center{
  position: relative;;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
.abs-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  height: auto;
}
.text-color-black{
  color: #000;
}
.text-color-white{
  color: #fff;
}
.text-color-ccc{
  color: #ccc;
}
.text-color-eee{
  color: #eee;
}
.text-color-333{
  color: #333;
}
.text-hover-color-white:hover{
	color: #fff;
}
.pixel-font{
	font-family: "Pixel-Millennium";
}
/* INDEX STYLE */
 .logo-text{
	margin: 10px 0 0 6px;
	font-size: 46px;
}
#index-nav a:hover{
  text-decoration: none;
}
#index-nav{
  margin-top: 5px;
}
#index-nav li{
  display: inline-block;
  margin: 0px 5px;
  width: 50px;
  list-style: none;
}
.icon{
  font-size: 25px;
}
.title{
  font-size: 12px;
}
/* BLOG STYLE */
#nav{
	margin-top: 20px;
}
#nav .navbar-brand{
	font-size: 20px;
}
.loading{
	margin: 20px 0;
	font-size: 18px;
}

.blog .info span{
	padding: 0 10px;
}
.blog .headline img{
	width: 100%;
}
.blog p img{
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}
.blog blockquote{
	color: #ccc;
}
/* MAP STYLE */
#map, #map-nav{
	height: 85vh;
}

@media (max-width: 991px){
	.map-nav-wraper{
		display: none;
	}
}
#map-nav, #map-nav .item{
	padding: 10px 0;
}
#map-nav .guider{
	display: inline-block;;
	cursor: pointer;
}
.guider .icon{
	height: 40px;
}
@media (max-width: 1199px){
	.guider .icon{
		display: none;
	}
}
.guider time{
	display: block;
	font-size: 12px;
}
.guider:hover .icon, .guider:hover time{
	color: #333;
}
