.full-height{
  height: 100vh;
}
.relative{
  position: relative;
}
.x-center{
  position: relative;;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
.abs-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  height: auto;
}
.text-color-white{
  color: #fff;
}
#header{
  background: #F3904F; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #F3904F , #3B4371); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #F3904F , #3B4371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#index-nav a{
  color: #fff;
}
#index-nav li{
  list-style: none;
}
.icon{
  margin-bottom: 5px;
  font-size: 23px;
}
.title{
  font-size: 13px;
}
